<%= form_for [:likes, @coub_task] do |f| %>
 <% if @coub_task.errors.any? %>
   <div id="error_explanation">
     <h2>
       <%= pluralize(@coub_task.errors.count, "error") %> - не удаётся сохранить задание:
     </h2>
     <ul>
       <% @coub_task.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

 <p>
  Название (обязательно):<br>
  <%= f.text_field :title %>
 </p>

 <p>
  Адрес ссылки, где накрутить лайки (обязательно):<br>
  <%= f.text_field :url %>
 </p>

 <p>
  Сколько лайков накрутить (обязательно - минимум 10):<br>
  <%= f.text_field :members_count %>
 </p>

 <p>
  Вознаграждение за лайк (обязательно - минимум 1):<br>
  <%= f.text_field :cost %>
 </p>

 <p>
  Лайков будет списано:<br>
  <%= f.text_field :max_count %>
 </p>

 <p>
  <%= f.submit value = "Сохранить задание" %>
 </p>

<% end %>
