<h1>Список заданий</h1>

<table>
  <tr>
    <th>Название</th>
    <th>Создано</th>
    <th colspan="3"></th>
  </tr>

  <% @coub_tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.created_at %></td>
      <td><%= link_to 'Показать', likes_coub_task_path(task) %></td>
      <td><%= link_to 'Редактировать', edit_likes_coub_task_path(task) %></td>
      <td><%= link_to 'Удалить', likes_coub_task_path(task),  method: :delete, data: { confirm: 'Вы уверены?' } %></td>
    </tr>
  <% end %>
</table>

<p>

<%= link_to 'Новое задание', new_likes_coub_task_path %>
